// Place all the styles related to the Honeymoons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 767px) {
  #map-canvas {
    height: 90vw;
    width: 90vw;
  }
}

@media (min-width: 768px) {
  #map-canvas {
    height: 500px;
  }
}